@import "./resetCSS.scss";

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.header-above {
    max-width: 1440px;
    height: 24px;
    padding: 4px 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;

    .title {
        font-weight: 500;
    }
    .our-stores {
        font-size: 10px;
        font-weight: 300;
        &::before {
            content: url(../images/icons/labelOnTheMap.png);
        }
    }
    &.active {
        background-color: #f7f7f7;
    }
}

.main-header-wrapper {
    padding: 0px 24px 24px 24px;
    color: white;
    height: 140px;
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(255, 255, 255, 0));
    &.active {
        background: #ffffff;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-panel {
    position: relative;
    ::-webkit-input-placeholder {
        color: white;
    }
    ::-moz-placeholder {
        color: white;
    }
    :-moz-placeholder {
        color: white;
    }
    :-ms-input-placeholder {
        color: white;
    }

    &.active {
        ::-webkit-input-placeholder {
            color: black;
        }
        ::-moz-placeholder {
            color: black;
        }
        :-moz-placeholder {
            color: black;
        }
        :-ms-input-placeholder {
            color: black;
        }
    }
}

.search {
    width: 40vw;
    height: 48px;
    border: none;
    border-radius: 3px;
    background-color: #f7f7f744;
    color: white;
    padding-left: 16px;
    outline: none;
    font-size: 11px;
    &.active {
        color: black;
        background-color: #f7f7f7;
    }
}

.icon-search {
    position: absolute;
    right: 16px;
    top: 16px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.navigation {
    display: flex;
    justify-content: center;
    & ul li {
        display: inline;
        text-transform: uppercase;
        margin: 0px 15px;
    }
    & a {
        color: white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 600;
    }
    & a:hover {
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.308);
    }

    &.active a {
        color: black;
    }
}

.sign-in {
    display: flex;
    padding: 24px;
    font-size: 11px;
    align-items: center;
    & a {
        color: white;
        margin: 10px;
    }
    &.active a {
        color: black;
    }
}

#circle {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    font-size: 11px;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: #f2da91;
    margin-left: 13px;
    display: none;
}

.intro-wrapper {
    height: 756px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    &.active {
        background-image: url(../images/backgroundActive.jpg);
        background-position: top;
    }
}

.intro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 500px;

    & h1 {
        font-size: 60px;
        color: white;
    }
}

.registration {
    width: 439px;
    margin: 25px auto;
    font-size: 12px;
}

.form-register {
    display: flex;
    margin: 18px auto;
}

.register-input {
    height: 40px;
    padding: 8px 16px;
    width: 334px;
}

.button {
    width: 94px;
    height: 40px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 600;
    margin-left: 7px;
}

.footer-wrapper {
    font-weight: 400;
    font-size: 12px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        font-size: 16px;
    }
}

.footer {
    width: 80%;
    margin: 26px auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}

.footer-navigation-list {
    list-style: none;
    padding: 0px;
    & li {
        width: 146px;
        height: 25px;
    }

    &.social-links li {
        display: inline;
        padding: 5px;
    }
}

.copyright {
    margin: 20px;
    font-size: 9px;
    font-weight: 400;
}

//Mobile framework

.mobile {
    display: none;
}

.accordion-mobile {
    display: none;
}

.panel-mobile {
    display: none;
}
.social-links-mobile {
    display: none;
}

@media (max-width: 360px) {
    .header-above,
    .search-panel,
    #register,
    .navigation,
    .intro {
        display: none;
    }

    .mobile {
        display: block;
    }

    .menu-burger {
        display: flex;
        & img {
            margin-left: 3px;
        }
    }

    #logoAurora {
        height: 20px;
    }

    #circle {
        margin-left: 1px;
    }

    .main-header-wrapper {
        height: 72px;
        &.active {
            background-color: rgba(255, 255, 255, 0.322);
        }
    }
    .main-header {
        height: 72px;
        justify-content: space-between;
        align-items: center;
    }

    .sign-in {
        align-items: center;
        padding: 0px;
    }

    .intro-wrapper {
        background-image: url(../images/mobileBackground.jpg);
        height: 480px;
        &.active {
            background-image: url(../images/backgrounMobileActive.png);
            background-size: cover;
        }
    }

    section {
        height: 130px;
    }
    .registration {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;
        height: 130px;
        & p {
            width: 328px;
        }
        & .register-input {
            width: 224px;
        }
        & .button {
            width: 96px;
        }
    }
    .footer {
        display: none;
    }

    .accordion-mobile {
        display: block;
        background-color: #f7f7f7;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .accordion-mobile h2:after {
        content: url(../images/icons/chevrondown.svg);
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .opened-mobile h2:after {
        content: url(../images/icons/chevrondownOpen.svg);
    }

    .panel-mobile {
        display: block;
        padding: 0 18px;
        width: 360px;
        background-color: #f7f7f7;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .social-links-mobile {
        display: flex;
        justify-content: space-between;
        width: 360px * 0.6;
        margin: 5px auto;
        & a {
            display: inline-block;
        }
    }
}
